<!DOCTYPE HTML>
<html>

<head>
  <title>textured_blue - another page</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="style/style.css" title="style" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">Assure<span class="logo_colour">Insurance</span></a></h1>
          <h2>You're in Good Hands with Assure Insurance</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li ><a href="index.html">Home</a></li>
          <li><a href="register.html">Register</a></li>
          <li><a href="claim.html">Claim</a></li>
          <li class="selected"><a href="guideline.html">Guideline & FAQ</a></li>
          <li ><a href="claim_status.html">Claim Status</a></li>
<li><a href="login.html">Login</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
      <div class="sidebar">
       
      </div>
      <div id="content">
       <h2>Guideline and FAQ</h2>
<p>Insurance Claims Questions and Answers</p>
        <p>
<h4>Do I Have to File a Police Report After an Accident?</h4><p>
If you plan on filing a claim with your insurance, you will likely need to file a police report. If more than one driver is involved, it’s always a good idea, so you have proof of exactly what the accident entailed and the scope of any injuries. 
<p>
<h4>What Do I Do If My Car Is Totaled?</h4><p>
If the value of the repair to your car in higher than the value of the vehicle it is certainly totaled. Most states go with a 75% threshold meaning if the damage totals higher than 75% of the vehicle's value then it is totaled.
<p>
<h4>What Do I Do After a Total Loss Accident?</h4><p>
Contacting your insurance agent and locating your title are just two of the six steps you should take after being in a total loss accident. Find out what else you can do to speed up the claims process to get your money as fast as possible.
<p>
<h4>How Is a Single Car Accident Is Handled?</h4><p>
Single car accidents are almost always considered at-fault accidents. File a claim and get hit with an at-fault accident surcharge on your car insurance renewal.
<p>
<h4>Do I Have to Pay for an At-Fault Claim Myself?</h4><p>
Paying for a claim out of pocket should be determined by how much the damage costs versus your deductible versus the at-fault accident surcharge amount. Compare these three numbers to determine if it is worthwhile for you to file a claim.
<p>
<h4>What If I Have Multiple Insurance Claims?</h4><p>
Multiple insurance claims are almost always bad news. Most preferred insurance carriers will non-renew your policy for two at-fault accidents by the same driver in a three-year period. Many also surcharge for comprehensive claims if three or more are filed in a three-year period. Insurance carriers do differ on these guidelines.
<p>
<h4>What If Someone Borrows My Car and Gets In Accident?</h4><p>
The insurance policy which lists the vehicle will cover the vehicle damages. Liability coverage is extended too, but if the limit is not high enough the excess can fall on the driver’s car insurance policy. Surcharges for at-fault accidents are usually added to the vehicle owner's car insurance policy.
<p>
<h4>Do I Have to Pay for Repairs After an Insurance Claim?</h4><p>
If you have a loan on your vehicle and or want to continue with full coverage on your car then yes you do need to get the repairs completed. If you do not want to carry full coverage anymore and own the vehicle outright then it is up to you whether to make the repairs or not.

<h4>What Replacement Parts Are Covered By Insurance?</h4><p>
It depends on your particular policy. If you purchased insurance that specifically covers OEM parts or parts that come directly from the manufacturer, your repair will be done using replacement OEM parts. Otherwise, you’ll likely get a repair using aftermarket parts, because they’re more affordable for insurers and often just as good as OEM parts. 
<p>
<h4>What Claims Are Covered By Comprehensive Coverage?</h4><p>
Comprehensive covers anything other than a collision. Deer,fire,theft, and vandalism are all considered comprehensive claims.<p>
      </div>
    </div>
    <div id="footer">
      Copyright &copy; Assure Insurance
    </div>
  </div>
</body>
</html>
