<!DOCTYPE HTML>
<html>

<head>
  <title>textured_blue</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="style/style.css" title="style" />
</head>

<body>





  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">Assure<span class="logo_colour">Insurance</span></a></h1>
          <h2>You're in Good Hands with Assure Insurance</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
        <li class="selected"><a href="index.html">Home</a></li>
          <li><a href="register.html">Register</a></li>
          <li><a href="claim.html">Claim</a></li>
          <li><a href="guideline.html">Guideline & FAQ</a></li>
          <li><a href="claim_status.html">Claim Status</a></li>
<li><a href="login.html">Login</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
      <div class="sidebar">
       <p><img margin-right="100px" src="images.jpg" >
      </div>
      <div id="content">
        <!-- insert the page content here -->
        <h1>Welcome to Assure Insurance</h1>
        <p>The Assure Insurance is the largest publicly held personal lines property and 
casualty insurer in America. Assure Insurance is widely known through the "You're in Good Hands with Assure Insurance" slogan.</p>



        <p>Assure Insurance is reinventing protection and retirement to help approximately 16 million households insure what they have today and better prepare for tomorrow. To achieve this dream, Assure Insurance is planning to automate its operations and intend in investing time and resources to have a definitive web presence. The first step in achieving this plan would be to target the youth and professional in insuring their newly purchased vehicles with us.The USP(Unique Selling Point) should be the online Auto Claim process, which needs to be developed on a priority basis.</p>
         	 	
        <h2>Unique Selling Point</h2>
        <p>Assure Insurance has these following Unique Selling Point</p>
        <ul>
          <li>Online Auto Claim process</li>
          <li>Insurer Benefits</li>
          <li>100% Cashback</li>
        </ul>
      </div>
    </div>
    <div id="footer">
      Copyright &copy; Assure Insurance 
    </div>
  </div>
</body>
</html>
